.header-fixed {
    width: 100% 
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
    display: block;
}

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.header-fixed > tbody {
    overflow-y: auto;
    height: 300px;
}

.sizeData{
    width: 80%;
    float: left;
}

.sizeNumber{
    width: 20%;
    float: left;
}
.console {
    color: rgba(0, 0, 0, 0.837);
    background: #ccc;
    border: 1px solid #b7b7b7;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 20px;
    overflow-y: auto;
    padding: 10px;
    padding-top: 0;
}
.console-head {
    padding-top: 10px;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.685);
    background: #ccc;
    position: sticky;
    top: 0px;
    margin-bottom: 5px;
}
.console-body {
    padding-left: 10px;
}
#customFile .custom-file-control:lang(en)::before {
  content: "Click me";
}
/*when a value is selected, this class removes the content */
.custom-file-control.selected:lang(en)::after {
  content: "" !important;
}

.custom-file {
  overflow: hidden;
}
.custom-file-control {
  white-space: nowrap;
}